body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 35px); /* Ajustement de la largeur pour l'icône */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%; /* Le bouton prend toute la largeur */
}

.btn-primary:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 0.9em;
}

img {
    height: 100px;
    margin: 5px; /* Ajout de marge autour des logos */
}

.logos {
    display: flex;
    flex-direction: row; /* Affichage des logos en ligne */
    justify-content: center; /* Centrage horizontal des logos */
    align-items: center; /* Centrage vertical des logos */
    margin-bottom: 20px; /* Ajout de marge en bas des logos */
}

.password-container {
    position: relative; /* Important pour positionner l'icône */
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px; /* Ajustez la taille de l'icône */
    color: #777;
}

.password-toggle:hover {
    color: #333;
}